<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personality Match</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
        <div class="row my-3">
         <div class="col-sm-6 offset-sm-3">
          <h3>Start</h3>
          <hr>
          <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
           
              
             
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Me">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Person Name</label>
                <input type="text" name="crushname" class="form-control" id="exampleFormControlInput1" placeholder="Crush">
            </div>

            <input type="submit" class="btn btn-primary mt-4" value="Create and Start">
            <br>
            <div class="text-center text-primary fw-bold"><small>After You Enter this details test get start and after that you get one link to share with one person and result get you on your mail   </small></div>
                
           
           </form>
         </div>
        </div>
       </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>