<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personality Match</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="text-success">Start</h3>
                <hr>
                <div id="questionContainer">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>{{ question.title }}</h2>
    
                        {% for opti in question.my_options %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  name="option" value="{{ opti.option }}" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ opti.option }}
                            </label>
                        </div>
                        {% endfor %}
    
                        <input type="submit" class="btn btn-primary mt-4" value="Next" id="nextButton">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>